<div class='container'>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='loginForm'>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type='text' name='username' formControlName='username'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type='password' name='password' formControlName='password'></ion-input>
        </ion-item>
      </form>
      <ion-button color='primary' type='button' shape="round" fill='solid' expand='block'
                  [disabled]='loginForm?.invalid'
                  (click)='doLogin()'>
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
